// ALL PAGES
html {
    box-sizing: border-box;
    color: #666666;
    font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

body {
    background-image: linear-gradient(105deg, #e5e5e5 60%, #ffffff 35%);
    min-height: 100vh;
}

main {
    line-height: 1.8;
    max-width: 75%;
    padding-left: 80px;
    padding-right: 80px;
}

h1 {
    color: #333333;
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1em;
    padding-left: 80px;
    text-transform: uppercase;
}

h2 {
    color: #008fe8;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

p {
    margin-bottom: 1em;
    text-align: justify;
}

main {
    ul {
        padding-left: 2em;
        position: relative;
    }

    li {
        line-height: 1.8;
        margin-bottom: 1em;
        text-align: justify;
    }

    li:before {
        content: "â–";
        left: 0;
        line-height: .75;
        font-size: 2em;
        position: absolute;
    }
}

a {
    color: #008fe8;
}

.sr-only {
    height: 1px;
    left: -100vw;
    overflow: hidden;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.sr-only-focusable:focus, .sr-only-focusable:active {
    height: auto;
    left: 0;
    overflow: visible;
    position: relative;
    white-space: normal;
    width: auto;
    z-index: 999;
}

.shadow {
    box-shadow: 6px 3px 18px 0px rgba(0, 0, 0, 0.3);
}

// HEADER AND NAV
header {
    margin-top: 75px;
    padding-top: 40px;
    width: 100%;
}

#top-bar {
    align-items: center;
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding-left: 80px;
    position: fixed;
    top: 0;
    transition: background-color .3s, box-shadow .3s;
    width: 100%;
    z-index: 10;
}

.top-scrolled {
    background-color: #f1f1f1;
    box-shadow: 0 0 7px rgba(0, 0, 0, .1);
}

.logo {
    height: 80%;
}

.menu-icon {
    display: none;
    height: 48px;
    padding: 8px;
    width: 48px;
}

nav {
    font-weight: 700;
    text-transform: uppercase;

    a {
        color: #808080;
        display: inline-block;
        text-decoration: none;
    }


    >ul {
        display: flex;
    }
}

.nav-item {
    padding-right: 1.5em;
}

.sub-menu {
    padding-right: 1.5em;
    position: relative;

    h2 {
        color: #808080;
        display: inline-block;
        font-size: 18px;
        margin: 0;
        text-transform: uppercase;
        vertical-align: 2px;
    }

    svg {
        height: 18px;
        width: 18px;
        fill: #808080;
    }

    >ul {
        background-color: #dddddd;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
        left: -200vw;
        position: absolute;
        top: 1.2em;
        width: 300px;
    }

    a {
        display: inline-block;
        font-size: 16px;
        padding: 12px 20px;
        transition: background-color .3s;
        width: 100%;
    }

    a:hover {
        background-color: #cccccc;
    }

    &:focus ul, &:hover ul, &:focus-within ul {
        left: 0;
    }
}

// HOME

body.home {
    background: url(../img/background-landscape.jpg) center center / cover;
}

.home-icons-outer {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: space-around;
    position: absolute;
    top: 0;
    width: 100%;
}

.home-icons-inner {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.home-icons-inner:first-child {
    padding-right: 50px;
}

.home-icons-inner:last-child {
    padding-left: 50px;
}

.home-icons-inner img {
    height: 8vw;
    margin: 8px;
    max-height: 100px;
}

.home-slogan {
    left: 0;
    position: absolute;
    top: calc(65vh + 3vw);
    width: 100%;
}

.home-slogan img {
    margin: 0 20%;
    width: 60%;
}

@media (max-aspect-ratio: 1/1) {
    body.home {
        background: url(../img/background-portrait.jpg) center center / cover;
    }

    .home-icons-outer {
        height: 80vh;
    }

    .home-icons-inner {
        align-items: center;
        flex-direction: column;
        height: 50%;
    }

    .home-icons-inner img {
        height: 7vh;
    }

    .home-slogan img {
        margin: 0 10%;
        width: 80%;
    }
}