// ALL PAGES
html {
    box-sizing: border-box;
    color: #666666;
    font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

body {
    background-image: linear-gradient(105deg, #e5e5e5 60%, #ffffff 35%);
    min-height: 100vh;
}

main {
    line-height: 1.8;
    max-width: 75%;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

h1 {
    color: #333333;
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1em;
    padding-left: 80px;
    margin-top: 40px;
    text-transform: uppercase;
}

h2 {
    color: #008fe8;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

p {
    margin-bottom: 1em;
    text-align: justify;
}

main {
    ul {
        padding-left: 2em;
        position: relative;
    }

    li {
        line-height: 1.8;
        margin-bottom: 1em;
        text-align: justify;
    }

    li:before {
        content: "â–";
        left: 0;
        line-height: .75;
        font-size: 2em;
        position: absolute;
    }
}

a {
    color: #008fe8;
}

.sr-only {
    height: 1px;
    left: -100vw;
    overflow: hidden;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.sr-only-focusable:focus, .sr-only-focusable:active {
    height: auto;
    left: 0;
    overflow: visible;
    position: relative;
    white-space: normal;
    width: auto;
    z-index: 999;
}

.shadow {
    box-shadow: 6px 3px 18px 0px rgba(0, 0, 0, 0.3);
}

// HEADER AND NAV
header {
    padding-top: 75px;
    width: 100%;
}

#top-bar {
    align-items: center;
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding-left: 80px;
    position: fixed;
    top: 0;
    transition: background-color .3s, box-shadow .3s;
    width: 100%;
    z-index: 10;
}

.top-scrolled {
    background-color: #f1f1f1;
    box-shadow: 0 0 7px rgba(0, 0, 0, .1);
}

.logo {
    height: 80%;
}

.menu-icon {
    display: none;
    height: 48px;
    padding: 8px;
    width: 48px;
}

nav {
    font-weight: 700;
    text-transform: uppercase;

    a {
        color: #808080;
        display: inline-block;
        text-decoration: none;
    }


    >ul {
        display: flex;
        max-height: calc(100vh - 83px);
    }
}

.nav-item {
    padding-right: 1.5em;

    &:focus, &:focus-within, &:hover {
        &>a, &>h2 {
            color: #008fe8;
            text-shadow: 1px 1px 1px #bbbbbb;
        }
    }
}

.sub-menu {
    padding-right: 1.5em;
    position: relative;

    h2 {
        color: #808080;
        display: inline-block;
        font-size: 18px;
        margin: 0;
        text-transform: uppercase;
        vertical-align: 2px;
    }

    svg {
        height: 18px;
        width: 18px;
        fill: #808080;
    }

    >ul {
        background-color: #dddddd;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
        left: -200vw;
        position: absolute;
        top: 1.2em;
        width: 300px;
    }

    a {
        display: inline-block;
        font-size: 16px;
        padding: 12px 20px;
        transition: background-color .3s;
        width: 100%;
    }

    a:hover, a:focus {
        background-color: #cccccc;
    }

    &:focus ul, &:hover ul, &:focus-within ul {
        left: 0;
    }
}

// HOME

body.home {
    background: url(../img/background-landscape.jpg) center center / cover;

    .nav-item {
        &>h2, &>a {
            color: #d9d9d9;
        }

        &:focus, &:focus-within, &:hover {
            &>a, &>h2 {
                color: #ddeeee;
                text-shadow: 0px 0px 2px #888888, 0px 0px 8px #b4ffe9;
            }
        }
    }

    .logo {
        height: 200%;
        align-self: flex-start;
    }

    .sub-menu svg {
        fill: #d9d9d9;
    }

}

.home-icons-outer {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: space-around;
    position: absolute;
    top: 0;
    width: 100%;
}

.home-icons-inner {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.home-icons-inner:first-child {
    padding-right: 50px;
}

.home-icons-inner:last-child {
    padding-left: 50px;
}

.home-icons-inner img {
    height: 8vw;
    margin: 8px;
    max-height: 100px;
}

.home-slogan {
    left: 0;
    position: absolute;
    top: calc(65vh + 3vw);
    width: 100%;
}

.home-slogan img {
    margin: 0 20%;
    width: 60%;
}

// PAGES

.about-text {
    color: #188700;
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    line-height: 1.5;
    padding-right: 5%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.team {
    text-align: center;
}

img.team {
    height: 300px;
    margin-bottom: 1em;
    object-fit: cover;
    width: 246px;
}

main.sternfels {
    display: flex;
    max-width: none;

    div:first-child {
        max-width: 70%;
    }

    a {
        color: #000080;
    }
}

h2.sternfels {
    color: #000080;
    line-height: 1.5;
}

img.sternfels {
    margin: 0 24px;
    width: 150px;
}

p.clinical {
    font-weight: 700;
}

img.clinical {
    width: 75%;
    margin-bottom: 2em;
}

.collaborators {
    padding: 1em 0;
    li{
        color: #008fe8;
        font-size: 24px;
        line-height: 1;
        &:before{
            content: none;
        }
    }
}

@media (max-aspect-ratio: 1/1) {
    body.home {
        background: url(../img/background-portrait.jpg) center center / cover;
    }

    .home-icons-outer {
        height: 80vh;
    }

    .home-icons-inner {
        align-items: center;
        flex-direction: column;
        height: 50%;
    }

    .home-icons-inner img {
        height: 7vh;
    }

    .home-slogan img {
        margin: 0 10%;
        width: 80%;
    }
}

@media (max-width: 1024px) {
    main {
        padding-left: 60px;
        padding-right: 60px;
    }

    h1 {
        padding-left: 60px;
    }

    #top-bar {
        padding-left: 60px;
    }
}

@media (max-width: 900px) {
    main {
        max-width: none;
        padding-left: 48px;
        padding-right: 48px;
    }

    h1 {
        padding-left: 48px;
    }

    #top-bar {
        height: 64px;
        padding-left: 48px;
    }

    .menu-icon {
        display: block;
        margin-right: 40px;
    }

    nav {
        left: 0;
        padding: 0 48px;
        position: fixed;
        top: 64px;
        width: 100%;

        >ul {
            background: white;
            border-top: 2px solid #008fe8;
            box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
            display: block;
            left: -200vw;
            max-height: calc(100vh - 72px);
            opacity: 0;
            overflow-y: auto;
            padding: 48px;
            position: relative;
            top: 0;
            transition: opacity 0.3s, left 0s .3s;
            width: 100%;

            &:focus, &:focus-within, &.mobile-nav-open {
                left: 0;
                opacity: 1;
                transition: opacity 0.3s;
            }
        }
    }

    #nav-collapse {

        .nav-item {
            a, h2 {
                color: #808080;
                border-bottom: 1px solid #f7f7f7;
                padding: 14px 20px;
                width: 100%;
            }

            a {
                margin-top: 8px;
            }

            &:first-child a {
                margin-top: 0;
            }

            h2 {
                background-color: #f7f7f7;
            }

            &:focus, &:focus-within, &:hover {
                &>a, &>h2 {
                    color: #808080;
                    text-shadow: none;
                }

                &>a {
                    background-color: #cccccc;
                }
            }
        }

        .sub-menu {
            >ul {
                background: white;
                box-shadow: none;
                padding-left: 36px;
                position: static;
                width: 100%;
            }

            svg {
                display: none;
            }
        }
    }

    body.home .logo {
        height: 150%;
    }

    main.sternfels {
        flex-direction: column;

        div:first-child {
            margin-bottom: 2em;
            max-width: none;
        }
    }

    img.clinical {
        width: 85%;
    }

    .collaborators {
        li {
            font-size: 18px;
        }
    }
}

@media (max-width: 500px) {

    main {
        padding-left: 5%;
        padding-right: 5%;
    }

    h1 {
        padding-left: 5%;
        font-size: 7vw
    }

    h2 {
        font-size: 6vw;
    }

    #top-bar {
        padding-left: 5%;
    }

    .menu-icon {
        margin-right: 5%;
    }

    nav {
        left: 0;
        padding: 0 8px;

        >ul {
            padding: 16px;
        }
    }

    .nav-item {
        a, h2 {
            font-size: 16px;
        }
    }

    body.home .logo {
        height: 100%;
    }

    img.clinical {
        width: 100%;
    }
}